.login {
  text-align: center;
  padding: 20px 40px 40px 40px;
  .d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-wrapper {
    width: 500px;
    margin: 30px 0px;
    padding: 40px;
    box-shadow: 10px 30px 60px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .form-header {
      text-align: left;
      border-bottom: #000000 solid 1px;
      margin-bottom: 20px;
      p {
        margin: 0;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
      }
      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 22px;
        margin-top: 10px;
        margin-bottom: 8px;
      }
    }

    .form-group {
      text-align: left;
      .auth-input {
        height: 56px;
        width: 100%;
        background: rgba(5, 36, 66, 0.05);
        // border: 1px solid #bdbdbd;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
        margin: 15px 0 5px 0;
      }
      #login_password.ant-input {
        background: transparent;
        font-size: 18px;
      }
      .auth-btn {
        height: 50px;
        width: 300px;
        font-size: 18px;
        background: linear-gradient(
          90deg,
          rgba(90, 206, 255, 0.85) 20.74%,
          rgba(43, 175, 232, 0.9) 64.61%,
          rgba(39, 159, 211, 0.95) 99.04%
        );
        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
      }
    }
  }
  .link-txt {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .login {
    padding: 0px;

    .form-wrapper {
      width: 100%;

      .form-header {
        margin-bottom: 10px;
        p {
          font-size: 16px;
        }
        h3 {
          font-size: 20px;
        }
      }
      .form-group {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .auth-input {
          font-size: 16px;
          height: 45px;
        }

        #login_password.ant-input {
          font-size: 16px;
        }

        .auth-btn {
          width: 200px;
        }
      }
    }
  }
}
