.navbar {
  width: 100%;
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(12, 25, 37, 0.75) 46.29%,
    rgba(27, 65, 102, 0.01) 100.08%
  );
  box-shadow: inset 0px 25px 50px rgba(0, 0, 0, 0.25);
  padding: 0 40px;
}
