.nav-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  background-image: url("../../../assets/nav-bg.svg");
  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .logo-container {
    display: flex;

    .logo-img {
      width: 100%;
      height: 100%;
    }
    .logo-txt a {
      padding: 0;
      color: #ffffff !important;
    }
  }
  .nav-btn {
    width: 114px;
    height: 44px;
    background: transparent;
    border: #29aae2 solid 1px;
    border-radius: 6;
    a {
      color: #29aae2 !important;
    }
  }
  .nav-btn:hover {
    background-color: #29aae2;
    a {
      color: #fff !important;
    }
  }
}
