section.trailer-container {
  width:55vw;
  height: 30vw;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;

  button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDBDBD;
    width: 30px;
    height: 30px;
    z-index: 10;
    right: 0px;
    top: -40px;

    mat-icon {
      padding: 0 !important;
      color: #000
    }
  }

  .video-js {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}
}
